@font-face { font-family: Rubik; src: url("../assets/Rubik.ttf"); }

* {
	font-family: "Rubik", "Arial", sans-serif;
}

body {
	background-color: #000020;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, header {
	color: #f2f2f2;
	margin-top: 20px;
	margin-bottom: 10px;
}

p, span, label, small, li, img {
	color: #f2f2f2;
}

button, input, select {
	padding: 5px;
	border-radius: 5px;
}

input[type="checkbox"] {
	transform: scale(1.6);
}

#settings tr {
	height: 32px;
}

#profile, #device {
	margin-top: 8px;
	width: 100%;
}

#device-selector {
	margin-top: 8px;
	margin-left: 8px;
	width: 200px;
}

#create-profile {
	float: right;
	margin-top: 8px;
	margin-right: 8px;
}

.deleteProfile {
	width: 24px;
	height: 24px;
	transform: translate(5px, 5px);
}

#action-list {
	width: 250px;
	height: 100vh;
	float: right;
	padding-left: 12px;
	padding-right: 10px;
	border-left: 1px solid white;
	overflow-y: auto;
}

.action {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.action img {
	width: 50px;
	height: 50px;
	border: 0.5px solid #f2f2f2;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 15px;
}

.icon {
	width: 78px;
	height: 78px;
}

.key {
	position: relative;
	width: 78px;
	height: 78px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	text-align: center;
}

.slider {
	position: relative;
	width: 40px;
	height: 330px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
}
.slider img {
	width: 37.5px;
	height: 37.5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -18.75px;
}
.slider span {
	display: none !important;
}

.plugin-card {
	display: inline-block;
	padding: 10px;
	padding-top: 0;
	margin: 10px;
	width: 215px;
	height: 150px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.plugin-icon {
	width: 36px;
	height: 36px;
	border-radius: 5px;
	float: right;
	position: relative;
	bottom: 8px;
}

.flash {
	position: absolute;
	width: 64px;
	height: 64px;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	transition: opacity 1s;
}
