@font-face { font-family: Rubik; src: url("../assets/Rubik.ttf"); }

* {
	font-family: "Rubik", "Arial", sans-serif;
}

body {
	background-color: #000020;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, header {
	color: #f2f2f2;
	margin-top: 20px;
	margin-bottom: 10px;
}

p, span, label, small {
	color: #f2f2f2;
}

button, input, select {
	padding: 5px;
	border-radius: 5px;
}

.actionList {
	width: 250px;
	height: 100vh;
	float: right;
	padding-left: 12px;
	padding-right: 10px;
	border-left: 1px solid white;
}

.action {
	margin-bottom: 5px;
}
.action img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	border: 0.5px solid #f2f2f2;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 15px;
}
.icon {
	width: 75px;
	height: 75px;
}

.key {
	width: 75px;
	height: 75px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.slider {
	width: 40px;
	height: 330px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
}
.slider img {
	width: 35px;
	height: 35px;
}

.plugin-card {
	display: inline-block;
	padding: 10px;
	padding-top: 0;
	margin: 10px;
	width: 215px;
	height: 150px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.plugin-icon {
	width: 36px;
	height: 36px;
	border-radius: 5px;
	float: right;
	position: relative;
	bottom: 8px;
}